.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  width: 100vw;
  transition: background-color 0.5s ease;
  padding: 20px;
  position: relative;
}

.hexCodeWrapper {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 10;
}

.circleWrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  /* background-color: red; */
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3), 0 2px 2px rgba(0, 0, 0, 0.2);
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  will-change: background-color;
}

.circle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

.circle:active::before {
  background-color: rgba(0, 0, 0, 0.1);
}

.circle.disabled {
  pointer-events: none;
  opacity: 0.7;
}

.ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple 1s linear;
  background-color: rgba(255, 255, 255, 0.7);
  width: 100%;
  padding-bottom: 100%;
  pointer-events: none;
}

.hexCodeContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 10px;
}

.hexCodeDescription {
  font-size: 48px;
  opacity: 0;
  transform: translateX(-20px);
  color: white;
}

.hexCodePart {
  font-size: 48px;
  opacity: 0;
  transform: translateX(-20px);
  color: white;
}

.slideIn1 {
  animation: slideIn 0.5s forwards;
}

.slideIn2 {
  animation: slideIn 1s forwards;
}

@keyframes slideIn {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.debug {
  position: absolute;
  bottom: 20px;
  left: 20px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  font-family: monospace;
}

@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}

@media (max-width: 600px) {
  .circle {
    width: 150px;
    height: 150px;
  }

  .hexCodeDescription {
    font-size: 36px;
  }

  .hexCodePart {
    font-size: 36px;
  }
}